    <div class="main-header">
      <div class="group-name">oshiri</div>
      <div class="chat-end">
        <a href="#">チャットを終了する</a>
      </div>
    </div>

    <div class="main-contents">
      <div class="content-list">
        <div class="content-top">
          <div class="user-name">
          saku
          </div>
          <div class="date-time">
            2025/10/19(sun) 20:30:00
          </div>
        </div>
        <div class="content-bottom">
          <div class="message-text">
            お世話になります。
          </div>
        </div>
      </div>
      <div class="content-list">
        <div class="content-top">
          <div class="user-name">
            ono
          </div>
          <div class="date-time">
            2025/10/20(mon) 8:30:00
          </div>
        </div>
        <div class="content-bottom">
          <div class="message-text">
            遅くなり申し訳ございません。
          </div>
        </div>
      </div>
    </div>

    <div class="main-form">
      <div class="form-input">
        <input class="form-message" placeholder= "type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input class="form-submit" type="submit" value="送信">
    </div>