    <div class="side-header">
      <div class="user-name">
        <%= link_to current_user.name, edit_user_path(current_user) %>
      </div>
      <div class="chat-create">
        <a href="#">チャットを作成する</a>
      </div>
    </div>

    <div class="side-rooms">
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">101号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">102号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">103号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">104号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">105号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">106号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">107号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">108号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">109号室</a>
        </div>
      </div>
      <div class="chat-room">
        <div class="chat-name">
          <a href="#">201号室</a>
        </div>
      </div>
    </div>